body {
  padding: 0;
  margin: 0;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #fff 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #fff 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #fff 0%, #fff 100%);
}

/** Header styles **/
.header {
  background-color: #1F1D38;
  height: 520px;
  background-position: center;
  color: #fff;
}

.about {
  margin: 0px auto;
  padding: 20px 30px 10px 30px;
  overflow: auto;
  width: 80%;
  border-radius: 4px;
  align-self: center;
  background-position: center;
}

.about p {
  color: #1F1D38;
  text-align: center;
  line-height: 24px;
  font-family: 'Noto sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.navigator ul {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  float: right;
  position: fixed;
  right: 25%;
  top: 5%;
}

.navigator li {
  list-style: none;
  display: inline;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-left: 50px;
}

.button {
  position: relative;
  width: 90%;
  height: 50px;
  margin: 20px auto;
  text-align: center;
}

.button1 {
  width: 500px;
  height: 50px;
  margin: auto;
  text-align: center;
}

.button1 a{
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 2px;
  text-shadow: none;
  background-color: #1F1D38;
  color: white;
}

/* Typography */
.header h1 {
  color: #FFFFFF;
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 375px;
}

h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.sub-header {
  margin: auto;
  text-align: center;
  position: relative;
  top: 375px;
}

.sub-header h3 {
  color: #FFFFFF;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 18px 6px;
  border-right-color: #ffffff;
  border-right-width: 1px;
}

.sub-header h4 {
  color: #FFFFFF;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-left: 6px;
}

.divide {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  position: relative;
  display: block;
}

.divide1 {
  width: 70%;
  text-align: center;
  margin: auto;
  line-height: 0.1em;
}

span.title {
    font-size: 24px;
    background-color: #fff;
    padding: 5px 40px 5px 40px;
    font-family: 'Noto Sans', sans-serif;
}

.divide1 p {
  border-top: 2px solid #ccc;
  line-height: 0.1em;
}

.summary {
  width: 90%;
  margin: 20px auto;
}

.summary1 {
  width: 70%;
  margin: auto;
}

.summary11 {
  padding: 10px;
  left: 50%;
  display: block;
}

span.category1 {
  width: 90px;
  font-size: 18px;
  color: #1F1D38;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  top: 1px;
}

span.space {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 6px;
  border-left: 2px solid #ccc;
  padding: 5px;
  top: 3px;
}

span.category2 {
  font-size: 18px;
  color: #1F1D38;
  display: inline-block;
  position: relative;
  top: 1px;
}

span.category3 {
  font-size: 18px;
  color: #1F1D38;
  display: inline-block;
  position: relative;
  padding-top: 3px;
  left: 130px;
}

.program {
  width: 90%;
  margin: 20px auto;
}

.program1 {
  width: 70%;
  margin: auto;
}

table.type09 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
}

table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}

table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
